[submodule "Han-DropTable-Menu"]
	path = Han-DropTable-Menu
	url = https://github.com/JISHAX/Han-DropTable-Menu
[submodule "overview"]
	path = overview
	url = https://github.com/JISHAX/overview
[submodule "photo"]
	path = photo
	url = https://github.com/JISHAX/photo
[submodule "reservation-service"]
	path = reservation-service
	url = https://github.com/JISHAX/reservation-service
[submodule "reviews"]
	path = reviews
	url = https://github.com/JISHAX/reviews